{% extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row" style="margin: 1%;">
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <h5>Customer:</h5>
                <hr>
                <a href="#!" class="btn btn-primary btn-block">Go somewhere</a>
                <a href="#!" class="btn btn-primary btn-block">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <h5>Contact Information</h5>
                <hr>
                <p>Email: </p>
                <p>Email: </p>
            </div>          
        </div>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <h5>Total Orders</h5>
                <hr>
                <h1 style="text-align: center; padding: 10px;"></h1>
            </div>          
        </div>
    </div>
</div>

<div class="row" style="margin: 1%;">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="#!" class="btn btn-primary btn-block">Go somewhere</a>
            </div>          
        </div>
    </div>
</div>

<div class="row" style="margin: 1%;">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Catagory</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Human</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>True</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Person</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>False</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

